.tile {
  width: 100%;
  aspect-ratio: 1 / 1;
}

:global(.available)[data-type="cabana"] {
  color: green;
  transition: 0.3s all ease-in-out;

  &:hover {
    cursor: pointer;
    color: dodgerblue;
  }
}

.tile svg {
  width: 100%;
  height: 100%;
  display: block;
}
