.notification-container {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 20;
  border-radius: 0.7rem;
  background-color: transparent;
  transform: translate(-50%, 10%);
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.1em 0.7em;
  font-size: clamp(1rem, 2dvw, 5rem);
  color: hsl(120 50 20);
  background-color: hsl(120 50 70 / 0.8);
  box-shadow: 0 5px 10px hsl(0 0 0 / 0.5);
  backdrop-filter: blur(7px);
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-width: 70dvw;

  animation: slide-in 0.5s ease-out forwards;
}

.notification-error {
  color: hsl(0 50 20);
  background-color: hsl(0 50 70 / 0.8);
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}
